@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* whole document */

body {
    background-color: #121212;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}

h1 {
    color: white;
    font-size: 35px;
}

h3 {
    color: white;
    font-size: 22px;
}

a {
    color: white;
}

/* face-area CSS */

.sexy-face img {
    border-radius: 100%;
    width: 7em;
    height: 7em;
}

.sexy-face h2 {
    color: grey;
}

.sexy-face {
    line-height: 0.6;
}

/* links CSS */

.twitter a {
    background-color: #1DA1F2;
    text-decoration: none;
    border-radius: 50px;
    padding: 0.8em 4.41em;
    font-size: 30px;
}

.youtube a {
    background-color: #FF0000;
    text-decoration: none;
    border-radius: 50px;
    padding: 0.8em 4.06em;
    font-size: 30px;  
}

.the-hub a {
    background-color: rgb(116, 116, 116);
    text-decoration: none;
    border-radius: 50px;
    padding: 0.8em 4.4em;
    font-size: 30px;
}